body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
    }

li{ 
    display: inline-block;
    margin: 20px;
}

a{ 
    color: white;
}

a :hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#Feedbacks-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 50px;
    align-items: center;
}

#Feedbacks-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 46px;
    line-height: 10px;
    font-family: poppinsmedium;
}

h3{
    font-size: 36px;
    line-height: 10px;
    font-family: poppinsmedium;
}

h4{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    
}

#circulo {
    width: 28px; /* Largura ajustável conforme necessário */
    height: 28px; /* Altura ajustável conforme necessário */
    background-color:rgb(132, 14, 201); /* Cor de fundo do círculo */
    border-radius: 50%; /* Faz com que o elemento seja um círculo */
    margin: 0 auto; /* Centraliza o círculo horizontalmente */
    margin-top: 10px; /
    
    
    }

h5{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    color:rgb(255, 255, 255) ;
}

spam{
    color: rgb(132, 13, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

image{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}
.div-1 {
    background-color:black;
}

h6{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}
.paragraph-container {
        display: flex;
        justify-content: space-around; /* Espaçamento uniforme entre os parágrafos */
        align-items: center; /* Centraliza verticalmente os parágrafos */
        flex-wrap: wrap; /* Permite que os parágrafos quebrem para a próxima linha se não houver espaço suficiente */
        margin-top: 20px; /* Ajuste conforme necessário */
     }

 .paragraph-item {
        flex-basis: calc(33.33% - 20px); /* 33.33% do espaço disponível, com 20px de espaço entre os parágrafos */
        text-align: center;
        margin-bottom: 20px; /* Espaçame
 }